:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --blue: #004aad;
    --blue-rgb: rgb(0, 58, 112);
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --background: linear-gradient(90deg, #003A70 0%, #005A9C 50%, #0073CF 100%);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--blue-rgb);
}
html {
    scroll-behavior: smooth;
}
.bg-container {
    background-image: url(./assets/images/bg-banner.png);
    background-attachment: fixed;
    background-size: cover;
    padding: 40px;
    display: flex;
    gap: 5rem;
}
.planos-box {
    border: 1px solid white;
    
    width: 50%;
    background-color: #ffffff;
    border-radius: 15px;
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}
.planos-box h3 {
    font-size: 3rem;
    width: 90%;
    margin: 10px auto;
    
}
.planos-box ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.planos-box ul li {
    list-style: none;
    font-size: 2rem;
    
}
.plano-1 {
    width: 50%;
    padding: 20px;
    height: 330px;
}
.plano-1 h3 {
    margin: 0;
    text-align: center;
}
.planos-ofertas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 20px;

}
.planos-ofertas img {
    width: 50px;
}
.planos-ofertas .box {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.planos-box .box .price {
    font-size: 1.3rem;
}
.planos-box .box h3 {
    width: 100%;
    font-size: 22px;
}
.box-container .box .btn {
    font-size: 18px;
    padding: 10px;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box-container .box .btn img  {
    width: 22px;
}
section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.form-container {
    background-color: var(--blue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
.form-container h2 {
    text-align: center;
    color: #fff;
    font-size: 3.5rem;
}
.form-container label {
    display: flex;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
    
}

.form-container input, select, textarea {
   
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.form-container input {
    width: 80%;
}
.form-container select {
    width: 80%;
}
.form-container textarea {
    width: 80%;
} 


header {
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--blue);
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.logo img {
    width: 10rem;
    filter: drop-shadow(0 0 10px #ff3131) drop-shadow(0 0 20px #ff3131);
    transition: filter 0.3s ease;
    
}
.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #ffffff;
}

.navbar a:hover {
    color: red;
    border-bottom: 0.1rem solid var --main-color;
    padding-bottom: 0.5rem;
    font-size: 2.3rem;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background: #25d366;
    border-radius: 12px;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
    font-weight: 600;
    
}
.btn img {
    fill: white;
    filter: invert(1)
}

.btn:hover {
    letter-spacing: 0.5rem;
}
.content-image img {
    width: 70%;
}

.home-container {
    background-image: url(./assets/images/bg-banner.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.content {
    max-width: 60rem;

}
.content h3, .content h1 {
    color: #fff;
    font-size: 6rem;
}
.content span {
    color: #fff;
    font-size: 2.5rem;
}
.content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}
.title {
    font-size: 4rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;

}
.title span {
    color: red;
    text-transform: uppercase;
}
.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}
.about .row .content {
    padding: 2rem;

}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;

}
.menu .box-container .box:hover {
    background-color: var(--blue);  
    
}
.menu .box-container .box:hover>* {
    color: white;   
}

.menu .box-container .box img {
    height: 10rem;
}
.menu .box-container .box h3 {
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem 0;

}
.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
    
}
.menu .box-container .box .price  span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.comentarios-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.comentarios-section h2 {
    font-size: 5rem;
    color: white;
}
.carousel {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 20px;
}
.review-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.review {
    min-width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: left;
}
.review p {
    font-size: 2rem;
}
.review-info {
    display: flex;
    font-size: 20px;
}

.review-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.stars {
    color: #facc15;
    font-size: 30px;
}
.comment {
    margin-top: 10px;
    font-style: italic;
    color: #333;
}
.faq {
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.faq h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #004aad;
}
.faq-item {
    margin-bottom: 15px;
}
.faq-item h3 {
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    background: #0073CF;
    color: white;
    border-radius: 5px;
}
.faq-item p {
    display: none;
    margin: 0;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
    font-size: 18px;
}
.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/images/bg-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.footer {
    text-align: center;
}
.footer .share {
    padding: 1rem 0;
}
.footer .share img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}
.footer .share img:hover {
    background-color: red;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}
.address-box {
    display: flex;
    gap: 2rem;

}
.address-boxwhite {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
}
.address-boxwhite h3 {
    font-size: 2rem;
    color: #004aad;
}
.address-boxwhite p {
    font-size: 1.5rem;
}
.end {
    color: white;
    font-size: 20px;
}
.btn-whatsapp{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
   
}
.btn-whatsapp   img{
    max-width: 74px;
    transition: 0.4s;
}
.btn-whatsapp img:hover{
    transform: scale(1.1);
}
.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -134px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: red;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s;
    
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

@media  screen and (min-width:360px) and (max-width: 430px) {
    
    header {
        max-width: 430px;
        width: 100%;
    }
    body {
        max-width: 430px;
        min-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .title {
        max-width: 430px;
        font-size: 3rem;
        text-align: center;
        
    }
    .bg-container {
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    .plano-1 h3 {
        font-size: 30px;
        width: 100%;
    }
    .plano-1 .btn {
        font-size: 0.5rem;
        background-color: #004aad;

        font-weight: 500;
    }
    .plano-1 .btn:hover {
        letter-spacing: 1rem;
    }
    .planos-box {
        width: 100%;
        height: 100%;
    }
    .planos-ofertas {
        align-items: center;
        justify-content: center;
    }
    .planos-ofertas .box .price {
        width: 100%;
        font-size: 12px;
        
    }
    .planos-ofertas .box .price span {
        text-decoration: line-through;
    }
    .home-container .btn {
        transition: 0.5s ease-in-out;
        font-size: 1.5rem;
    }
    .home-container .btn:hover {
        letter-spacing: 0.5rem;
    }
    .home-container {
        background-image: url(./assets/images/bg-cell.png);
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 430px;
        width: 100%;
        height: 100%;
        display: flex;
        background-size: 100%;
        background-attachment: fixed;
    }
    .home-container section {
        
        max-width: 430px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
    }
    .home-container section .content {
        max-width: 430px;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .home-container section .content h3 {
        font-size: 2.8rem;
        text-align: center;
        text-shadow: 5px 5px 5px black;
    }
    .home-container section .content p {
        text-align: center;
        color: #fff;
        font-weight: 500;
        text-shadow: 5px 5px 5px black;
    }
    .home-container section .form-container {
        max-width: 430px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
   
    .home-container section .form-container form {
        max-width: 430px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .form-container h2 {
        font-size: 2rem;
    }
    
    .home-container section .form-container form input {
        width: 80%;
    }
    form .btn {
        width: 80%;
        font-size: 1.1rem;
    }
    .about {
        max-width: 430px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .row {
        display: flex;
        flex-direction: column;
        max-width: 95%;
        width: 100%;
    }
    .row .container-image {
        max-width: 430px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .row .container-image img {
        width: 95%;
        margin: 0 auto;
    }
    
    .menu {
        max-width: 430px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .menu .box-container {
        display: flex;
        flex-direction: column;
        max-width: 430px;
        width: 100%;
        align-items: center;
    }
    .menu .box-container .box {
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }

    .review {
        max-width: 430px;
        width: 100%;
        display: flex;
        

    }
    .quote {
        width: 100px;
        margin: 0 auto;
    }
    .user {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .review .box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 430px;
        width: 100%;
    }
    .review .box-container .box {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
    }
    .address {
        display: flex;
        flex-direction: column;
        max-width: 430px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-image: url(./assets/images/bg-cell.png);
        background-attachment: fixed;
    }
    .address h2 {
        color: white;
        text-shadow: 5px 5px 5px black;
    }
    .address-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .address-boxwhite {
        min-width: 300px;
        max-width: 400px;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    .address-boxwhite .btn {
        width: 80%;
        text-align: center;
    }
    footer {
        max-width: 430px;
        width: 100%;
    }
    .share {
        max-width: 430px;
        width: 100%;
        
    }
    .share a {
        width: 100%;
    }
    .share a img {
        width: 60px;
        height: 60px;
    }
    .comentarios-section {
        max-width: 430px;
        width: 100%;
    }
    .comentarios-section h2 {
        text-align: center;
    }
    .review {
        min-width: 100%;
        text-align: center;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        text-align: left;
    }
    .review p {
        font-size: 2rem;
    }
    .review-info {
        display: flex;
        justify-content: space-around;
        gap: 3rem;
        font-size: 20px;
    }
    
    .review-title {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 2rem;
        
    }
    
   
}
